@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma,sans-serif,Helvetica,Arial;
  scroll-behavior: smooth;
}

body {
  background: #ebebeb;
}

.swiper-pagination-bullet {
  display: none;
}